{% load static %}

<header class="section-header">
    <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTop4">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                 <a href="{% url 'vendor-login' %}" class="nav-link pl-5">{%if not user.is_authenticated%}Become vendor {% endif%}</a>
            </li>
            
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                 <p style="color: #00B2BD;">Book your dream electric vehicle now & Get it in your porch</p>
            </li>
            
        </ul>
        
        <ul class="navbar-nav">
            <li><a href="#" class="nav-link"> <i class="fa fa-envelope"></i> Email </a></li>
            <li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> Call us </a></li>
        </ul> <!-- list-inline //  -->
      </div> <!-- navbar-collapse .// -->
    </div> <!-- container //  -->
    </nav>
    
    <section class="header-main border-bottom" style="background-color: #00B2BD;">
        <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-3 col-12 ">
            
            <style>
                @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
            </style>
            
            <a href="{% url 'home'%}">
                <div class=" d-flex align-items-center justify-content-center">
                    <div class=""><img src="{% static 'lightning.svg' %}" alt=""></div>
                    <div class="text-white"><span style="font-family: 'Mochiy Pop One', sans-serif; font-size:x-large" >SHAZAM</span></div>
    
                </div>
                
            </a> <!-- brand-wrap.// -->
        </div>
         <!-- col.// -->
        
        <div class="col-lg-6  col-md-6 col-sm-12 col-12">
            <form action="#" class="search">
                <div class="input-group w-60">
                    <input type="text" class="form-control " style="width:60%;border-top-left-radius: 1rem;border-bottom-left-radius: 1rem;" placeholder="Search">
                    
                    <div class="input-group-append " >
                      <button  class="btn btn-light" style="width:60px;border-top-right-radius: 1rem;border-bottom-right-radius: 1rem;"  	 type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                </div>
            </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-3 col-sm-12 col-12 order-2 order-lg-3">
                    <div class="d-flex align-items-center justify-content-end ">
                        {% if request.user.id is None %}
                        <div class="widget-header">
                            <small class="title ">Welcome guest!</small>
                            <div style="color: white;"> 
                                <a style="color: white;" href="{% url 'login'%}">Sign in</a> <span class="dark-transp"> | </span>
                                <a style="color: white;"href="{% url 'register'%}"> Register</a>
                            </div>
                        </div>
                        <a href="./cart.html" class="widget-header pl-3 ml-3">
                            <div id="cart" class="icon icon-sm rounded-circle border"onMouseOver="this.style.background-color='#000'" onMouseOut="this.style.background-color='#FFF'"><i onMouseOver="this.style.color='#000'" onMouseOut="this.style.color='#FFF'" style="color: white;" class="fa fa-shopping-cart"></i></div>
                            <span class="badge badge-pill badge-danger notify">0</span>
                        </a>
                        
                        {% else %}
                        
             
                        
                        {% if user.is_verified %}
                        
                        <div class="col-lg-3 col-sm-12 col-8 order-2 order-lg-3">
                            <div class="d-flex justify-content-end mb-3 mb-lg-0">
                              <div class="widget-header">
                                <div class="d-flex" style="color: white">
                                  <div class="pr-3">
                                    <a href=""
                                      ><img
                                        src="{% static 'account_circle_white_36dp.svg'%}"
                                        alt=""
                                    /></a>
                                    <small class="title ">{{user.first_name}}</small>
                                    
                           
                                  </div>
                                  <div class="pr-3">
                                    <a href=""
                                      ><img
                                        src="{% static 'assignment_turned_in_white_36dp.svg'%}"
                                        alt=""
                                      />
                                      <!-- <span class="badge badge-pill badge-danger notify"
                                        >2</span> -->
                                        </a
                                    >
                                    <small class="title ">Bookings</small>
                                  </div>
                                  <div class="pr-3">
                                    <a href=""
                                      ><img
                                        src="{% static 'pending_actions_white_36dp.svg'%}"
                                        alt=""
                                      />
                                      
                                      <!-- <span class="badge badge-pill badge-danger notify"
                                        >0</span> -->
                                        </a
                                    >
                                    <small class="title ">Pending</small>
                                    
                                  </div>
                                  <div class="pr-3">
                                    <a href="{% url 'logout'%}"
                                      ><img
                                        src="{% static 'logout_white_36dp.svg'%}"
                                        alt=""
                                      />
                                      <!-- <span class="badge badge-pill badge-danger notify"
                                        >2</span> -->
                                        </a
                                    >
                                    <small class="title ">Logout</small>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- widgets-wrap.// -->
                          </div>
                          
                        {% else%}
                        <!-- <a href="{% url 'otp-login'%}" class="widget-header pl-3 ml-3">
                            <div id="cart" class="icon icon-sm rounded-circle border"onMouseOver="this.style.background-color='#000'" onMouseOut="this.style.background-color='#FFF'"><i onMouseOver="this.style.color='#000'" onMouseOut="this.style.color='#FFF'" style="color: white;" class="fa fa-shopping-cart"></i></div>
                            <span class="badge badge-pill badge-danger notify">0</span>
                        </a> -->
                        <div class="col-lg-3 col-sm-12 col-8 order-2 order-lg-3">
                            <div class="d-flex justify-content-end mb-3 mb-lg-0">
                              <div class="widget-header">
                                <div class="d-flex" style="color: white">
                                    <div class="pr-3 mt-3">

                                        <h6> {{user.first_name}}</h6>
                                      </div>
                                    <div class="pr-3">

                                        <a href="{% url 'otp-login'%}"
                                          ><img
                                            src="{% static 'warning_amber_white_36dp.svg'%}"
                                            alt=""
                                          />
                                          <!-- <span class="badge badge-pill badge-danger notify"
                                            >2</span> -->
                                            </a
                                        >
                                        <small class="title ">Verify</small>
                                      </div>
                                      <div class="pr-3">
                                        
                                        <a href="{% url 'logout'%}"
                                          ><img
                                            src="{% static 'logout_white_36dp.svg'%}"
                                            alt=""
                                          />
                                          <!-- <span class="badge badge-pill badge-danger notify"
                                            >2</span> -->
                                            </a
                                        >
                                        <small class="title ">Logout</small>
                                      </div>
                                </div>
                              </div>
                            </div>
                            <!-- widgets-wrap.// -->
                          </div>
                        
                        
                        {% endif %}
                        

                        {% endif %}
                        
                    </div> <!-- widgets-wrap.// -->
                </div> <!-- col.// -->
    </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->
    
    
    
    
    </header> <!-- section-header.// -->