{% extends 'base.html'%}
{% load static %}

{% block content%}
<style>
    .bg-primary{
        background-color:#00B2BD !important;
    }
    .active{
        background-color:#00B2BD !important;
    }
    .btn-primary{
        
        background-color: black;
    }
    .btn-primary:hover{
        background-color:#00B2BD !important;
        
    }
</style>
<link rel="stylesheet" href="{% static 'css/user_dashboard.css'%}">

<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
        <aside class="col-md-3">
            <!--   SIDEBAR   -->
            <ul class="list-group" >
              <a style="color: rgb(0, 0, 0) !important; " class="list-group-item " href="{% url 'user_dashboard' %}"> My Profile </a>
                <a style="color: black !important;" class="list-group-item" href="{% url 'ordered_details' %}">Recent Bookings</a>
                <a style="color: black !important;" class="list-group-item" href="#"> Recent Test Drives</a>
                <a style="color: black !important;" class="list-group-item" href="#"> My Addresses </a>
                <a style="color: rgb(255, 255, 255) !important;font-weight: bold;" class="list-group-item active" href="{% url 'password_otp'%}"> Change Password </a>
            </ul>
            <br>
            <a class="btn btn-primary btn-block" href="{% url 'logout'%}"> <i class="fas fa-sign-out-alt"></i> <span class="text">Log out</span> </a> 
            <!--   SIDEBAR .//END   -->
        </aside>
        <main class="col-md-9">
            <div class="container">
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
                      {% include 'includes/alerts.html' %}
      
                      <form action="{% url 'new_password'%}" method="post">
      
                        {% csrf_token %}
      
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Change Password</h5>
      
                        <div class="form-outline mb-4">
                          <input name="password" type="password" id="form2Example17" class="form-control form-control-lg" />
                          <label class="form-label" for="form2Example17">New Password</label>
                        </div>
      
                        <div class="form-outline mb-4">
                          <input name="confirm_password" type="password" id="form2Example27" class="form-control form-control-lg" />
                          <label class="form-label" for="form2Example27">Confirm Password</label>
                        </div>
      
                        <div class="pt-1 mb-4">
                          <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                        </div>
      
                        
                      </form>
      
                    </div>
                  </div>
            </div>
          
            
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
{% endblock%}