{% extends 'base.html'%}
{% load static %}

{% block content%}
<style>
    .bg-primary{
        background-color:#00B2BD !important;
    }
    .active{
        background-color:#00B2BD !important;
    }
    .btn-primary{
        
        background-color: black;
    }
    .btn-primary:hover{
        background-color:#00B2BD !important;
        
    }
</style>
<link rel="stylesheet" href="{% static 'css/user_dashboard.css'%}">

<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
        <aside class="col-md-3">
            <!--   SIDEBAR   -->
            <ul class="list-group" >
                <a style="color: rgb(0, 0, 0) !important; " class="list-group-item " href="{% url 'user_dashboard' %}"> My Profile </a>
                <a style="color: black !important;" class="list-group-item" href="{% url 'ordered_details' %}">Recent Bookings</a>
                <a style="color: black !important;" class="list-group-item" href="#"> Recent Test Drives</a>
                <a style="color: black !important;" class="list-group-item" href="{% url 'my_address'%}"> My Addresses </a>
                <a style="color: rgb(255, 255, 255) !important;font-weight: bold;" class="list-group-item active" href="{% url 'password_otp'%}"> Change Password </a>
            </ul>
            <br>
            <a class="btn btn-primary btn-block" href="{% url 'logout'%}"> <i class="fas fa-sign-out-alt"></i> <span class="text">Log out</span> </a> 
            <!--   SIDEBAR .//END   -->
        </aside>
        <main class="col-md-9">
            <div class="container">
                <style>
                    .btn-primary {
                      background-color: #00b2bd;
                    }
                    .btn-primary:hover {
                      background-color: black;
                    }
                  </style>
                  <section class="section-conten padding-y" style="min-height: 84vh">
                    <!-- ============================ COMPONENT LOGIN   ================================= -->
                    <div class="card " style="max-width: 380px; margin-top: 0px;">
                      <div class="card-body">
                        <h6 class="card-title mb-4">OTP has been sent to +91 {{request.user.mobile}}</h6>
                        <form id="form" action="{% url 'password_otp' %}" method="POST">
                          {% csrf_token %}
                          <div class="form-group">
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Enter OTP"
                              name="otp"
                            />
                          </div>
                          <!-- form-group// -->
                          <!-- <div class="form-group">
                              <input type="password" class="form-control" placeholder="Password" name="password" >
                            </div> 
                            
                           
                            
                            <div class="form-group">
                                <a href="{% url 'otp-login'%}" class="float-right">Login with OTP?</a> 
                             
                            </div> -->
                          <!-- form-group form-check .// -->
                          <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">
                              Submit
                            </button>
                          </div>
                          <!-- form-group// -->
                        </form>
                      </div>
                      <!-- card-body.// -->
                    </div>
                    <!-- card .// -->
                  
                    <br /><br />
                    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
                  </section>
          
            
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
{% endblock%}