{% extends 'base.html'%}
{% load humanize %}
{% load static %}
{% block content %}


     
    <style>
      .btn-primary {
        background-color: #00b2bd;
      }
      .btn-primary:hover {
        background-color: black;
      }
    </style>
    <section class="section-content padding-y bg">
      
      <div class="container">
        <form action="{% url 'book_now' %}" method="POST" >
          {% csrf_token %}
        <!-- ============================ COMPONENT 2 ================================= -->
        <div class="row">
          
          <main class="col-md-8">
            
            <article class="card mb-4">
              <div class="card-body">
                <h4 class="card-title mb-4">Review cart</h4>
                <div class="row">
                  <table class="table table-responsive table-borderless table-shopping-cart">
                    <thead class="text-muted">
                    <tr class="small text-uppercase">
                      <th scope="col">Vehicle</th>
                      <th scope="col" width="120">Quantity</th>
                      <th scope="col" width="120">Booking</th>
                      <th scope="col" width="120">Vehicle</th>
                      
                    </tr>
                    </thead>
                    <tbody>
                      {% if request.session.buy_now_variant_id %}
                      <tr>
                        <td>
                          <figure class="itemside align-items-center">
                            <a href="{% url 'showroom-variant' variant.id %}">
                      
                              <div class="aside"><img src="{{variant.image1.url}}" class="img-sm"></div>
                              <figcaption class="info">
                                
                                <div class="d-flex flex-row">
                                  <div class="">
                                    <a href="{% url 'showroom-variant' variant.id %}" class="title font-weight-bold text-dark">{{variant.vehicle_id}}</a>
                                    
                                  </div>
                                  <div class="ml-4">
                                    <p  style="width: 45px;height: 20px;background-color: {{variant.color}};"></p>
                                  </div>
                                </div> 
                                <p> <span  class="font-weight-bold"> RANGE </span>{{variant.vehicle_id.range}} km <br> <span class="font-weight-bold">TOP SPEED </span> {{cart_item.variant.vehicle_id.top_speed}} km/h</p>
                              </figcaption>
                            </a>
                          </figure>
                        </td>
                        <td> 
                          <!-- col.// -->
                                <div class="col"> 
                                  <div class="input-group input-spinner">
                                    
                                    <input type="text" disabled class="form-control p-2"  value="{{1}}">
                                    
                                  </div> <!-- input-group.// -->
                                </div> <!-- col.// -->
                        </td>
                        <td> 
                          <div class="price-wrap"> 
                            <var class="price">₹{{request.session.booking_price}}</var>
                            
                          </div> <!-- price-wrap .// -->
                        </td>
                        <td>
                          <div class="price-wrap"> 
                            
                            {% if variant.vehicle_id.vehicleoffer.is_active %}
                              <small>₹ {{variant.get_price |floatformat:0|intcomma }} each</small><br>
                            <span style="font-size: small;"><strike> <b>{{variant.price | intcomma }}</b> </strike> </span>
              
                            {% else %}
                           <small>₹ {{variant.price |floatformat:0| intcomma }} each</small>
                            {% endif %}
                          </div> <!-- price-wrap .// -->
                        </td>
                      
                        
                      </tr>

                      {% else %}
                      {% for cart_item in cart_items %}
                    <tr>
                      <td>
                        <figure class="itemside align-items-center">
                          <a href="{% url 'showroom-variant' cart_item.variant.id %}">
                    
                            <div class="aside"><img src="{{cart_item.variant.image1.url}}" class="img-sm"></div>
                            <figcaption class="info">
                              
                              <div class="">
                                <div class="">
                                  <a href="{% url 'showroom-variant' cart_item.variant.id %}" class="title font-weight-bold text-dark">{{cart_item.variant.vehicle_id}}</a>
                            
                                </div>
                                <div class="" style="border:3px solid black;border-radius: 3px;width: 40px;height: 20px;background-color: {{cart_item.variant.color}};">
                    
                                </div>
                                
                              </div> 
                              <p> <span  class="font-weight-bold"> RANGE <br></span>{{cart_item.variant.vehicle_id.range}} km <br> <span class="font-weight-bold">TOP SPEED <br></span> {{cart_item.variant.vehicle_id.top_speed}} km/h</p>
                            </figcaption>
                          </a>
                        </figure>
                      </td>
                      <td> 
                        <!-- col.// -->
                              <div class="col"> 
                                <div class="input-group input-spinner">
                                  
                                  <input type="text" disabled class="form-control p-2"  value="{{cart_item.quantity}}">
                                  
                                </div> <!-- input-group.// -->
                              </div> <!-- col.// -->
                      </td>
                      <td> 
                        <div class="price-wrap"> 
                          <var class="price">₹{{cart_item.booking_price}}</var>
                          <small class="text-muted">₹ {{cart_item.variant.vehicle_id.category.bookingprice.booking_price}} each </small> 
                        </div> <!-- price-wrap .// -->
                      </td>
                      <td>
                        <div class="price-wrap"> 
                          <var class="price">₹{{cart_item.sub_total |floatformat:0 | intcomma}}</var> 
                          {% if cart_item.variant.vehicle_id.vehicleoffer.is_active %}
                            <small>₹ {{cart_item.variant.get_price |floatformat:0|intcomma }} each</small><br>
                          <span style="font-size: small;"><strike> <b>{{cart_item.variant.price | intcomma }}</b> </strike></span>
            
                          {% else %}
                         <small>₹ {{cart_item.variant.price |floatformat:0| intcomma }} each</small>
        	                {% endif %}
                        </div> <!-- price-wrap .// -->
                      </td>
                    
                      
                    </tr>
                    
                    
                    {% endfor %}
                    {% endif %}
                    
                    </tbody>
                    </table>
                  
                  <!-- col.// -->
                 
                  <!-- col.// -->
                </div>
                <!-- row.// -->
              </div>
              <!-- card-body.// -->
            </article>
            <!-- card.// -->

           
           
            <!-- card.// -->
            <article class="card mb-4">
              
                
               
                
              
              <div class="card-body">
                <a class="btn btn-primary" href="{% url 'my_address' %}">Manage Address</a>
                <div class="d-flex justify-content-around ">
                        
                        
                  <div class="container">
                      <div class="row">
                        
                          {% for address in addresses %}
                          
                          
                          
                          <div class="col-12 col-md-4 p-2 m-1" style="border:1px solid black;border-radius: 4px;">
                            {% if address.default %}
                            <h6 style="color: #00B2BD;">Selected</h6>
                            {% endif %}
                            <a style="float: right;" href="{% url 'set_default2' address.id %}">SetDefault</a>
                          
                              <h5 class="card-title">{{address.full_name}}</h5>
                              
                              <h6 class="card-subtitle mb-2 text-muted">{{address.address_line_1}} , {{address.address_line_2}}</h6>
                              <p class="card-text">{{address.city}} , {{address.zip_code}} , {{address.state}} ,{{address.country}} , {{address.landmark}} </p>
                              <a href="#" class="card-link">{{address.mobile}}</a>

                          </div>
                          
                              
                             
                          
                          {% endfor %}                                
                      </div>
                  </div>
                  
                  <!-- <div class=" container m-3" style="width: 250px;">
                      <div class="card-body">
                        <h5 class="card-title">{{address.full_name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{address.address_line_1}} , {{address.address_line_2}}</h6>
                        <p class="card-text">{{address.city}} , {{address.zip_code}} , {{address.state}} ,{{address.country}} , {{address.landmark}} </p>
                        <a href="#" class="card-link">{{address.mobile}}</a>
                        
                      </div>
                      
                      
                  </div> -->
                  
                  
                  

              </div>
                <h4 class="card-title mb-4">Billing info</h4>
                
                  <div class="row">
                    <div class="form-group col-sm-12">
                      <label>Full Name</label>
                      <input
                        type="text"
                        placeholder="Type here"
                        class="form-control"
                        name='full_name'
                        value="{{address.full_name}}"
                      />
                    </div>
                    <div class="form-group col-sm-6">
                      <label>Address Line 1</label>
                      <input
                        type="text"
                        placeholder="Type here"
                        class="form-control"
                        name='address_line_1'
                        value="{{address.address_line_1}}"
                      />
                    </div>
                    <div class="form-group col-sm-6">
                      <label>Address Line 2</label>
                      <input
                        type="text"
                        placeholder="Type here"
                        class="form-control"
                        name='address_line_2'
                        value="{{address.address_line_2}}"
                      />
                    </div>
                    <div class="form-group col-sm-6">
                      <label>City*</label>
                      <input
                        type="text"
                        placeholder="Type here"
                        class="form-control"
                        name='city'
                        value="{{address.city}}"
                      />
                    </div>
                    <div class="form-group col-sm-6">
                      <label>Postal code</label>
                      <input name='zip_code' value="{{address.zip_code}}" type="text" placeholder="" class="form-control" />
                      
                    </div>
                    
                    <div class="form-group col-sm-4">
                      <label>State*</label>
                      <input
                        type="text"
                        placeholder="Type here"
                        class="form-control"
                        name='state'
                        value="{{address.state}}"

                      />
                    </div>
                    <div class="form-group col-sm-4">
                      <label>Country*</label>
                      <select name="country" class="form-control">
                        <option selected value="{{address.country}}">{{address.country}}</option>
                        <option value="India">India</option>
                        <option value="United States">United States</option>
                        <option value="France">France</option>
                        <option value="Italy">Italy</option>
                      </select>
                    </div>
                    <div class="form-group col-sm-4">
                      <label>Mobile</label>
                      <input name='mobile' value="{{address.mobile}}" type="text" placeholder="" class="form-control" />
                    </div>
                    
                   
                    <div class="form-group col-sm-12">
                      <label>Landmark</label>
                      <input name='landmark' value="{{address.landmark}}" type="text" placeholder="" class="form-control" />
                    </div>
                    <div class="form-group col-sm-12">
                      <label for="">Choose Payment method</label>
                      <select name="payment_option" class="form-control">
                        <option value="Razorpay">Razorpay</option>
                        <option value="Paypal">Paypal</option>
                        
                        
                      </select>

                    </div>
                    
                    
                  </div>
                  <!-- row.// -->
                
              </div>
              <!-- card-body.// -->
            </article>
            <!-- card.// -->

            
            <!-- accordion end.// -->
          </main>
          <!-- col.// -->
          <aside class="col-md-4">
            <div class="card">
              <div class="card-body">
                
                <!-- col.// -->
                <dl class="dlist-align">
                  <dt>Total vehicle price:</dt>
                  <dd class="text-right">₹{{ request.session.pending_price |floatformat:"0" | intcomma }}</dd>
                </dl>
                <hr>
                <dl class="dlist-align">
                  <dt>Booking price:</dt>
                  <dd class="text-right"> ₹{{request.session.booking_price |floatformat:"0"}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Tax (5%) :</dt>
                  <dd class="text-right"> ₹{{request.session.total_tax |floatformat:"0"}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Coupon code:</dt>
                  <dd style="color: green;" class="text-right"> {{request.session.code}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Discount price:</dt>
                  <dd style="color: green;" class="text-right"> -₹{{request.session.coupon_discount_price}}</dd>
                </dl>
                
                <dl class="dlist-align">
                  <dt>Grand Total:</dt>
                  <dd class="text-right text-dark b">
                    <strong> ₹{{request.session.grand_total |floatformat:"0"}}</strong>
                  </dd>
                </dl>
                <hr />
               
                <input value="Book Now" type="submit"class="btn btn-primary btn-block">
                <p class="text-center mt-3">
                  <img src="{% static 'images/misc/payments.png' %}" height="26" />
                </p>
              </div>
              </form>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                
                <form action="{% url 'redeem_coupon'%}" method="post" id="form-id" class="search">
                  {% csrf_token %}
                  <div class="input-group w-100">
                    <input
                      type="text"
                      class="form-control"
                      style="
                        width: 60%;
                        border-top-left-radius: 0.5rem;
                        border-bottom-left-radius: 0.5rem;
                      "
                      placeholder="Coupon Code"
                      name="code"
                    />

                    <div class="input-group-append">
                      <button id="your-id"
                        class="btn btn-primary" type="submit"
                        style="
                          width: 70px;
                          border-top-right-radius: 0.5rem;
                          border-bottom-right-radius: 0.5rem;
                        "
                        
                      >
                        Apply
                      </button>
                      
                    </div>
                    <p class="m-3">Have a coupon?</p>
                  </div>
                  {% include 'includes/alerts.html' %}
                </form>

                <!-- search-wrap .end// -->
              </div>
                
              
              <!-- card-body.// -->
            </div>
            <!-- card.// -->
          </aside>
          <!-- col.// -->
        </div>
        <!-- row.// -->
        

        <!-- ============================ COMPONENT 2 END//  ================================= -->
      </div>
      <!-- container .//  -->
    </section>
    
{% endblock %}
