{% extends 'base.html'%}
{% load humanize %}
{% load static %}
{% block content %}


     
    <style>
      .btn-primary {
        background-color: #00b2bd;
      }
      .btn-primary:hover {
        background-color: black;
      }
    </style>
    <section class="section-content padding-y bg">
      <div class="container">
        <!-- ============================ COMPONENT 2 ================================= -->
        <div class="row">
          <main class="col-md-8">
            <article class="card mb-4">
              <div class="card-body">
                <h4 class="card-title mb-4">Review cart</h4>
                <div class="row">
                  <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                    <tr class="small text-uppercase">
                      <th scope="col">Vehicle</th>
                      <th scope="col" width="120">Quantity</th>
                      <th scope="col" width="120">Booking</th>
                      <th scope="col" width="120">Vehicle</th>
                      <th scope="col" class="text-right" width="200"> </th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for cart_item in cart_items %}
                    <tr>
                      <td>
                        <figure class="itemside align-items-center">
                          <a href="{% url 'showroom-variant' cart_item.variant.id %}">
                    
                            <div class="aside"><img src="{{cart_item.variant.image1.url}}" class="img-sm"></div>
                            <figcaption class="info">
                              
                              <div class="d-flex flex-row">
                                <div class="">
                                  <a href="{% url 'showroom-variant' cart_item.variant.id %}" class="title font-weight-bold text-dark">{{cart_item.variant.vehicle_id}}</a>
                                  
                                </div>
                                <div class="ml-4">
                                  <p  style="width: 45px;height: 20px;background-color: {{cart_item.variant.color}};"></p>
                                </div>
                              </div> 
                              <p> <span  class="font-weight-bold"> Range: </span>{{cart_item.variant.vehicle_id.range}} km <br> <span class="font-weight-bold">Top Speed : </span> {{cart_item.variant.vehicle_id.top_speed}} km/h</p>
                            </figcaption>
                          </a>
                        </figure>
                      </td>
                      <td> 
                        <!-- col.// -->
                              <div class="col"> 
                                <div class="input-group input-spinner">
                                  
                                  <input type="text" disabled class="form-control p-2"  value="{{cart_item.quantity}}">
                                  
                                </div> <!-- input-group.// -->
                              </div> <!-- col.// -->
                      </td>
                      <td> 
                        <div class="price-wrap"> 
                          <var class="price">₹{{cart_item.booking_price}}</var>
                          <small class="text-muted">₹ 999 each </small> 
                        </div> <!-- price-wrap .// -->
                      </td>
                      <td> 
                        <div class="price-wrap"> 
                          <var class="price">₹{{cart_item.sub_total | intcomma}}</var> 
                          <small class="text-muted"> ₹{{cart_item.variant.price | intcomma}} each </small> 
                        </div> <!-- price-wrap .// -->
                      </td>
                    
                      
                    </tr>
                    
                    {% endfor %}
                    
                    </tbody>
                    </table>
                  
                  <!-- col.// -->
                 
                  <!-- col.// -->
                </div>
                <!-- row.// -->
              </div>
              <!-- card-body.// -->
            </article>
            <!-- card.// -->

           
           
            <!-- card.// -->
            <article class="card mb-4">
              <div class="card-body">
                <h4 class="card-title mb-4">Billing info</h4>
                <form action="" method="POST" >
                  {% csrf_token %}
                  <div class="row">
                    <div class="form-group col-sm-12">
                      <label>Full Name</label>
                      <input
                        type="text"
                        placeholder="Type here"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group col-sm-4">
                      <label>House</label>
                      <input
                        type="text"
                        placeholder="Type here"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group col-sm-8">
                      <label>Street*</label>
                      <input
                        type="text"
                        placeholder="Type here"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group col-sm-6">
                      <label>City*</label>
                      <input
                        type="text"
                        placeholder="Type here"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group col-sm-6">
                      <label>Postal code</label>
                      <input type="text" placeholder="" class="form-control" />
                    </div>
                    
                    <div class="form-group col-sm-4">
                      <label>State*</label>
                      <input
                        type="text"
                        placeholder="Type here"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group col-sm-4">
                      <label>Country*</label>
                      <select name="" class="form-control">
                        <option value="">India</option>
                        <option value="">United States</option>
                        <option value="">France</option>
                        <option value="">Italy</option>
                      </select>
                    </div>
                    <div class="form-group col-sm-4">
                      <label>Mobile</label>
                      <input type="text" placeholder="" class="form-control" />
                    </div>
                    
                   
                    <div class="form-group col-sm-12">
                      <label>Landmark</label>
                      <input type="text" placeholder="" class="form-control" />
                    </div>
                    <article class="accordion" id="accordion_pay">
                      <div class="card">
                        <header class="card-header">
                          <img
                            src="../static/images/misc/payment-paypal.png"
                            class="float-right"
                            height="24"
                          />
                          <label
                            class="form-check collapsed"
                            data-toggle="collapse"
                            data-target="#pay_paynet"
                          >
                            <input
                              class="form-check-input"
                              name="payment-option"
                              checked
                              type="radio"
                              value="option2"
                            />
                            <h6 class="form-check-label">Paypal</h6>
                          </label>
                        </header>
                        <div
                          id="pay_paynet"
                          class="collapse show"
                          data-parent="#accordion_pay"
                        >
                          <div class="card-body">
                            <p class="text-center text-muted">
                              Connect your PayPal account and use it to pay your bills.
                              You'll be redirected to PayPal to add your billing
                              information.
                            </p>
                            <p class="text-center">
                              <a href="#"
                                ><img
                                  src="../static/images/misc/btn-paypal.png"
                                  height="32"
                              /></a>
                              <br /><br />
                            </p>
                          </div>
                          <!-- card body .// -->
                        </div>
                        <!-- collapse .// -->
                      </div>
                      <!-- card.// -->
                      <div class="card">
                        <header class="card-header">
                          <img
                            src="../static/images/misc/payment-card.png"
                            class="float-right"
                            height="24"
                          />
                          <label
                            class="form-check"
                            data-toggle="collapse"
                            data-target="#pay_payme"
                          >
                            <input
                              class="form-check-input"
                              name="payment-option"
                              type="radio"
                              value="option2"
                            />
                            <h6 class="form-check-label">Razorpay</h6>
                          </label>
                        </header>
                        <div
                          id="pay_payme"
                          class="collapse"
                          data-parent="#accordion_pay"
                        >
                          <div class="card-body">
                            <p class="alert alert-success">
                              Some information or instruction
                            </p>
                            <form class="form-inline">
                              <input
                                type="text"
                                class="form-control mr-2"
                                placeholder="xxxx-xxxx-xxxx-xxxx"
                                name=""
                              />
                              <input
                                type="text"
                                class="form-control mr-2"
                                style="width: 100px"
                                placeholder="dd/yy"
                                name=""
                              />
                              <input
                                type="number"
                                maxlength="3"
                                class="form-control mr-2"
                                style="width: 100px"
                                placeholder="cvc"
                                name=""
                              />
                              <button class="btn btn btn-success">Button</button>
                            
                          </div>
                          <!-- card body .// -->
                        </div>
                        <!-- collapse .// -->
                      </div>
                      <!-- card.// -->
                    </article>
                    
                    
                  </div>
                  <!-- row.// -->
                </form>
              </div>
              <!-- card-body.// -->
            </article>
            <!-- card.// -->

            
            <!-- accordion end.// -->
          </main>
          <!-- col.// -->
          <aside class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                  <form action="#" class="search">
                    <div class="input-group w-100">
                      <input
                        type="text"
                        class="form-control"
                        style="
                          width: 60%;
                          border-top-left-radius: 0.5rem;
                          border-bottom-left-radius: 0.5rem;
                        "
                        placeholder="Coupon Code"
                      />

                      <div class="input-group-append">
                        <button
                          class="btn btn-primary"
                          style="
                            width: 70px;
                            border-top-right-radius: 0.5rem;
                            border-bottom-right-radius: 0.5rem;
                          "
                          type="submit"
                        >
                          Apply
                        </button>
                      </div>
                    </div>
                  </form>
                  <!-- search-wrap .end// -->
                </div>
                <!-- col.// -->
                <dl class="dlist-align">
                  <dt>Booking price:</dt>
                  <dd class="text-right"> ₹{{booking_price |floatformat:"0"}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Tax (5%) :</dt>
                  <dd class="text-right"> ₹{{total_tax |floatformat:"0"}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Discount price:</dt>
                  <dd class="text-right"> ₹0</dd>
                </dl>
                
                <dl class="dlist-align">
                  <dt>Grand Total:</dt>
                  <dd class="text-right text-dark b">
                    <strong> ₹{{grand_total |floatformat:"0"}}</strong>
                  </dd>
                </dl>
                <hr />
                <p class="text-center mb-3">
                  <img src="../static/images/misc/payments.png" height="26" />
                </p>
                <a
                  href="" type="submit"
                  class="btn btn-primary btn-block"
                >
                  Book Now
                </a>
              </form>
              </div>
              <!-- card-body.// -->
            </div>
            <!-- card.// -->
          </aside>
          <!-- col.// -->
        </div>
        <!-- row.// -->

        <!-- ============================ COMPONENT 2 END//  ================================= -->
      </div>
      <!-- container .//  -->
    </section>
{% endblock %}
