{% extends 'base.html'%}
{% load static %}
{% load humanize %}
{% block content %}

		<style>
			.btn-primary{
				background-color:#00B2BD ;
			}
			.btn-primary:hover{
				background-color: black;
			}
			@media only screen and (max-width: 1200px) {
				.gallery-wrap .img-big-wrap img {
					height: auto; 
					
				}
			}
		</style>
<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6 col-lg-6 col-12 col-sm-12">
<article class="gallery-wrap"> 
	<div class="img-big-wrap " >
		{% if vehicle.vehicleoffer.is_active %}
						<div class="card shadow-lg" style="background-color: #00B2BD; height: 25px; width: 75px;  position: absolute; left: 0px; top: 25px;  z-index: 1; border-radius: 0pt;">
							<p style="color: whitesmoke; text-align: center; font-size: medium; font-family: sans-serif;">{{vehicle.vehicleoffer.discount}}% off</p>
			  			</div>
		{% endif %}
	   <a href="#"><img class="big_imgs img-fluid" src="{{variant.image1.url}} "></a>
	</div> <!-- img-big-wrap.// -->
	<div class="thumbs-wrap">
        <a href="#" class="item-thumb"> <img class="small_img" src="{{ variant.image1.url }}"
          height="150px"></a>
        <a href="#" class="item-thumb"> <img class="small_img" src="{{ variant.image2.url }}"
          height="150px"></a>
        <a href="#" class="item-thumb"> <img class="small_img" src="{{ variant.image3.url }}"
          height="150px"></a>
    
      </div> 
	
</article> <!-- gallery-wrap .end// -->
		</aside>
		<main class="col-md-6 border-left">
<article class="content-body">
	<div class="container">
		<div class="row ">
			<div class="col-12 col-md-12">
				<h2 class="title">{{vehicle}} </h2>
				
			</div>
			<div class="rating-star col-12 col-md-12">
				<span>
					<i class="fa fa-star{% if rating < 0.5 %}-o{% elif rating >= 0.5 and rating < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
					<i class="fa fa-star{% if rating < 1.5 %}-o{% elif rating >= 1.5 and rating < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
					<i class="fa fa-star{% if rating < 2.5 %}-o{% elif rating >= 2.5 and rating < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
					<i class="fa fa-star{% if rating < 3.5 %}-o{% elif rating >= 3.5 and rating < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
					<i class="fa fa-star{% if rating < 4.5 %}-o{% elif rating >= 4.5 and rating < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
			<span>{{review_count}} reviews</span>
					</span>
			</div>
			
		</div>

	</div>
	<hr>
	<div class="container">
		<div class="row">
			<div class="mb-3 col-12">
				<var class="price h4">SOLD BY <span style="color: #00B2BD;float: right;">{{vehicle.vendor_id}}</span> </var> 
			</div>
			
				<div class="col-12">
					<h5>TOP SPEED <span style="float: right;">{{vehicle.top_speed}} km/h</span></h5>
				
				</div>
				<div class="col-12">
					<h5>RANGE<span style="float: right;">{{vehicle.range}} km</span></h5>
				
				</div>
				<div class="col-12">
					<h5>RRICE<span style="float: right;">
						{% if variant.vehicle_id.vehicleoffer.is_active %}
						<h6>₹ {{variant.get_price |floatformat:0|intcomma }}<span style="font-size: x-small;"><strike> {{variant.price | intcomma }}</strike></span></h6>
						
						
						{% else %}
						<h6>₹ {{variant.price |floatformat:0| intcomma }}</h6>
						{% endif %}
				</span></h5>
					
			
				</div>
				<div class="col-12">
					<div class="mx-auto" style="border-radius: 3px;border:3px solid black ;width: 50%;height: 40px;background-color: {{variant.color}};">

				</div>
				
			
	
		</div>

	</div>
	

<hr>
<div class="row">
    <div class="item-option-select">
        <h6>Choose Color</h6>
		<div class="row">
			
				{% for variant in variants %}
				<div class="col-3 m-3">
					<div class="btn-group btn-group-sm " >
						<div class="btn btn-light">
							<a href="{% url 'showroom-variant' variant.id %}">
								<div class="ml-1" style="width: 50px;height:30px;background-color: {{variant.color}};"></div>
							</a>
							</div>
					</div> 

				</div>
        		
            
            
        		{% endfor %}

			
		</div>
        
    </div>
</div> <!-- row.// -->
	<!-- <div class="row">
		<div class="item-option-select">
			<h6>Select Size</h6>
			<div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
			  <label class="btn btn-light">
			    <input type="radio" name="radio_color"> S
			  </label>
			  <label class="btn btn-light active">
			    <input type="radio" name="radio_color" checked> M
			  </label>
			  <label class="btn btn-light">
			    <input type="radio" name="radio_color"> L
			  </label>
			  <label class="btn btn-light">
			    <input type="radio" name="radio_color"> XL
			  </label>
			</div> 
		</div>
	</div>  -->
    <!-- row.// -->
	<hr>
	{% if variant.remaining == 0 %}
	<p  class=""> <span class="text" style="font-weight:bold;color: red;">Out of Stock</span> </p>


	{% else %}

	{% if in_cart %}
	<a href="#" class="btn  btn-light"> <span class="text">Added to Cart</span> <i class="fas fa-check"></i>  </a>
	<a href="{% url 'cart' %}" class="btn  btn-primary"> <span class="text">View Cart</span> <i class="fas fa-shopping-cart"></i>  </a>
	{% else %}
	<a href="{% url 'add_quantity' variant.id %}" class="btn  btn-primary mt-3"> <span class="text">Add To Cart</span> <i class="fas fa-shopping-cart"></i>  </a>
	<a  href="{% url 'buy_now' variant.id %}" class="btn  btn-primary mt-3"> <span class="text">Buy Now</span> </a>
	{% endif %}


	{% endif %}
	</article> <!-- product-info-aside .// -->
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br>

<div class="row">
			<div class="col-md-9">

				{% if review %}
				<header class="section-heading">
					<h3>Customer Reviews </h3>  
					
				</header>
				{% endif %}

{% for review in reviews %}
	<article class="box mb-3">
		<div class="icontext w-100">
			<img src="{% static 'images/avatars/avatar1.jpg'%} " class="img-xs icon rounded-circle">
			<div class="text">
				<span class="date text-muted float-md-right">{{review.updated_at}} </span>  
				<h6 class="mb-1">{{review.user.first_name}}</h6>
				<div class="rating-star">
					<span>
						<i class="fa fa-star{% if review.rating < 0.5 %}-o{% elif review.rating >= 0.5 and review.rating < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if review.rating < 1.5 %}-o{% elif review.rating >= 1.5 and review.rating < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if review.rating < 2.5 %}-o{% elif review.rating >= 2.5 and review.rating < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if review.rating < 3.5 %}-o{% elif review.rating >= 3.5 and review.rating < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if review.rating < 4.5 %}-o{% elif review.rating >= 4.5 and review.rating < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
					
					</span>	
				</div>
				
			</div>
		</div> <!-- icontext.// -->
		<div class="mt-3">
			<h6>{{review.subject}}</h6>
			<p>
				{{review.review}}
			</p>	
		</div>
	</article>
{% endfor %}

	

	</div> <!-- col.// -->
</div> <!-- row.// -->


</div> <!-- container .//  -->
</section>
<script type="text/javascript">
	$(document).ready(function () {
	$(".small_img").click(function () {
	$(".big_imgs").attr('src', $(this).attr('src'));
	})
	})
</script>
<script>
	$(document).ready(function () {
	$(".big_imgs").imagezoomsl({
	zoomrange: [1, 1]
	})
	})
</script>
   
   


{% endblock %}