{% extends 'base.html'%}
{% load static %}

{% block content%}
<style>
    .active{
        background-color:#00B2BD !important;
    }
    .btn-primary{
        
        background-color: black;
    }
    .btn-primary:hover{
        background-color:#00B2BD !important;
        
    }
</style>

<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
        <aside class="col-md-3">
            <!--   SIDEBAR   -->
            <ul class="list-group" >
                <a style="color: rgb(255, 255, 255) !important; font-weight: bold;" class="list-group-item active" href="#"> My Profile </a>
                <a style="color: black !important;" class="list-group-item" href="{% url 'ordered_details' %}">Recent Bookings</a>
                <a style="color: black !important;" class="list-group-item" href="#"> Recent Test Drives</a>
                <a style="color: black !important;" class="list-group-item" href="#"> Vehicles Owned </a>
                <a style="color: black !important;" class="list-group-item" href="#"> My Addresses </a>
                <a style="color: black !important;" class="list-group-item" href="#"> Change Password </a>
            </ul>
            <br>
            <a class="btn btn-primary btn-block" href="{% url 'logout'%}"> <i class="fas fa-sign-out-alt"></i> <span class="text">Log out</span> </a> 
            <!--   SIDEBAR .//END   -->
        </aside>
        <main class="col-md-9">
          
            
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
{% endblock%}