{% extends 'superadmin/base.html'%}
{% load static %}
{% load humanize%}
{% block content%}

<div class="row mt-6">
    <div class="col-md-12 col-12">
      <!-- card  -->
      <div class="card">
        <!-- card header  -->
        <div class="card-header bg-white border-bottom-0 py-4 d-flex justify-content-between">
          <div class="">
            <h4 class="mb-0"> Sales Report : {{month_now}}</h4>
          </div>
          <div class="">
            <h5>Total Revenue : {{total_revenue}}</h5>
            
          </div>
          <div class="">
            <h5>Total Profit : {{total_profit}}</h5>
          </div>
          <div class="">
            <a style="float: right;" href="{% url 'download_vendor_report'%}" class="btn btn-info">Download Report</a>
          </div>
        </div>
        <!-- table  -->
        <div class="table-responsive">
          <table id="example" class="table text-nowrap mb-0">
            <thead class="table-light">
              <tr>
                  <th>No</th>

                <th>Image</th>
                <th>Vehicle Model/Category</th>
                <th>Variant</th>
                <th>Sold</th>
                <th>Revenue Recieved</th>
                <th>Profit</th>
                <th>Stocks Remaining</th>

              </tr>
            </thead>
            <tbody>
                {% for x in variants %}
              <tr >
                  <td>{{forloop.counter}}</td>
                <td class="align-middle" > 
                        <img style="width: 80px;height: 60px;" src="{{x.image1.url}}" alt="">
                </td>
                <td class="align-middle">{{x.vehicle_id}} <br> {{x.vehicle_id.category}}</td>
                
                <td class="align-middle">
                    <div class="d-flex
                      align-items-center">
                    <div>
                      <div style="background-color: {{x.color}};" class="icon-shape icon-md border p-4
                          rounded-1">
                        
                      </div>
                    </div>
                   
                  </div>
                </td>
                {% if x.get_count%}
                <td class="align-middle">{{x.get_count.0.quantity}} Vehicles</td>
                {% else %}
                <td class="align-middle">None</td>
                {% endif %}
                
                {% if x.get_count%}
                <td class="align-middle">₹ {{x.get_revenue.0.revenue |floatformat:0 | intcomma}}</td>
                {% else %}
                <td class="align-middle">None</td>
                {% endif %}
                {% if x.get_count%}
                <td class="align-middle">₹ {{x.get_profit | floatformat:0 | intcomma}}</td>
                {% else %}
                <td class="align-middle">None</td>
                {% endif %}
                <td class="align-middle">{{x.remaining}}</td>
               
                
              </tr>
             {% endfor %}

            </tbody>
          </table>
        </div>
        <!-- card footer  -->
        <div class="card-footer bg-white text-center ">
          <div class="" style="float: right;">
            <div class="">
              <h5>Monthly Total Revenue :₹ {{total_revenue|floatformat:0|intcomma}}</h5>
              
            </div>
            <div class="">
              <h5>Monthly Total Profit :₹ {{total_profit|floatformat:0|intcomma}}</h5>
            </div>

          </div>
          <div class="">
            <a href="#">Go to Top</a>
          </div>
          

        </div>
      </div>

    </div>
  </div>


{% endblock %}